# Ignore python cache files
__pycache__/
*.pyc

# Ignore PyTorch model checkpoints and weights
*.pt
*.pth
*.onnx

# Ignore data storage directories
data/

# Ignore local configuration and virtual environments
.venv/
env/
.env

2023 Patients/